<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.ficruty.caocap">

    <uses-permission
            android:name="android.permission.READ_LOGS"
            tools:ignore="ProtectedPermissions" />
    <uses-permission
            android:name="android.permission.BATTERY_STATS"
            tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
            android:icon="@drawable/caocap_icon"
            android:label="@string/app_name"
            android:roundIcon="@drawable/caocap_circle"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".Setting.DataPolicyActivity"
                android:exported="false" />
        <activity
                android:name=".Setting.AboutActivity"
                android:exported="false" />
        <activity android:name=".Setting.ChangeLanguageActivity" />
        <activity android:name=".Setting.ChangePasswordActivity" />
        <activity android:name=".Setting.ChangeEmailActivity" />
        <activity android:name=".Setting.SettingActivity" />
        <activity android:name=".Auth.ResetPasswordActivity" />
        <activity android:name=".EditPersonalActivity" />
        <activity android:name=".Controller.Buliders.BuilderCodeActivity" />
        <activity android:name=".Controller.Buliders.BuilderLinkActivity" />
        <activity android:name=".CaocapShowActivity" />
        <activity android:name=".Explore">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".PersonalActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Auth.RegisterationActivity" />
        <activity android:name=".Auth.LoginActivity" />
        <activity android:name=".Controller.MainActivity" />
    </application>

</manifest>